:root {
  /* --theme-color: transparent linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
  --theme-primary: transparent linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
  --theme-secondary: #b88831;
  --menu: #dedddd; */
  --theme1-bg: #000;
  --theme1-bg90: #1a3da6e6;
  --theme2-bg: #8000FF;
  --theme2-bg70: #0f2462b3;
  --theme2-bg85: #9430FF;
  --primary-color: #fff;
  --secondary-color: #fff;
  --grey-color: #ccc;
}
